.Tag {
    height: 24px;
    background-color: #6c6c84;
    border-radius: 12px;
    padding: 0 20px 0 16px;
    color: white;
    font-size: 13px;
    line-height: 24px;
    font-weight: bold;
    margin-right: 8px;
    cursor: default;
}
