.PageButton {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    margin: 0 8px;
    font-weight: bold;
    line-height: 32px;

    &:hover {
        cursor: pointer;
    }

    &__inactive {
        background: #2a2a42;
        color: white;

        &:hover {
            background: white;
            color: #2a2a42;
        }
    }

    &__active {
        color: #2a2a42;
        background: white;
    }
}
