.CardList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    width: 1500px;

    &__oops {
        color: white;
        font-weight: bold;
        font-size: 40px;
        border: 1px solid white;
        display: inline;
        border-radius: 12px;
        padding: 40px 45px;
    }
}
