.Card {
    width: 300px;
    height: 562px;
    border-radius: 12px;
    background-color: #2a2a42;
    margin: 16px;

    &__content {
        text-align: left;
        padding: 14px 16px;
    }

    &__name {
        color: white;
        font-size: 24px;

        &:hover {
            color: var(--cta);
        }
    }

    &__tags {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &__image {
        border-radius: 12px 12px 0 0;
        &:hover {
            opacity: 0.85;
        }
    }

    &__link {
        text-decoration: none;
    }
}
