.Card {
    width: 300px;
    height: 562px;
    border-radius: 12px;
    background-color: #2a2a42;
    margin: 16px;

    &__content {
        text-align: left;
        padding: 14px 16px;
    }

    &__name {
        color: white;
        font-size: 24px;
    }

    &__tags {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}
