.Header {
    height: 120px;
    background-color: var(--header-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;

    &__logo {
        position: absolute;
        left: 130px;
        top: 46px;
        width: 190px;
        height: 56px;
    }
}
