.LabelValue {
    &__label {
        color: #bfc1d3;
        opacity: 0.5;
        font-size: 13px;
        line-height: 15px;
        font-weight: bold;
        margin-bottom: 3px;
    }

    &__value {
        margin-top: 0px;
        font-size: 16px;
        line-height: 19px;
        color: white;
    }

    &__link {
        margin-top: 0px;
        font-size: 16px;
        line-height: 19px;
        color: white;
        text-decoration: none;
        display: block;
        margin-bottom: 10px;

        &:hover {
            color: var(--cta);
            cursor: pointer;
        }
    }
}
