.LabelValue {
    &__label {
        color: var(--label-color);
        opacity: 0.5;
        font-size: 13px;
        line-height: 15px;
        font-weight: bold;
        margin-bottom: 3px;
    }

    &__value {
        margin-top: 0;
        font-size: 16px;
        line-height: 19px;
        color: var(--text-color);
    }

    &__link {
        margin-top: 0;
        font-size: 16px;
        line-height: 19px;
        color: var(--text-color);
        text-decoration: none;
        display: block;
        margin-bottom: 10px;

        &:hover {
            color: var(--cta);
            cursor: pointer;
        }
    }
}
